.button {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: fit-content;
    padding: 8px 16px;
    border-radius: 100px;

    background: var(--color-primary);

    p {
        margin: 0;

        font-family: var(--font-secondary);
        font-size: typo(16px);
        font-weight: 700;

        color: var(--color-black);
    }

    &:hover {
        text-decoration: none;

        background: var(--color-white);
        color: var(--color-black);

        padding: 8px 24px;

        transition: 0.67s ease-out;
    }
}
.button-secondaire {
    background: var(--color-white);
    color: var(--color-black);

    &:hover {
        background: var(--color-black);
        color: var(--color-white);

        p {
            color: var(--color-white);
            transition: ease-in-out 0.67s;
        }
    }
}
