.cards-section {
    .wrapper {
        display: flex;
        flex-direction: column;

        gap: var(--spacing-xl);
    }
}

// styles des labos 1-4
.cards {
    display: flex;
    flex-direction: column;

    gap: var(--spacing-lg);

    @media (width <= $breakpoint-md) {
        display: grid;
        grid-template-columns: 1fr 1fr;

        gap: var(--spacing-md);
    }

    @media (width <= $breakpoint-sm) {
        display: grid;
        grid-template-columns: 1fr;

        gap: var(--spacing-sm);
    }
}

.card,
.swiper-slide {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    gap: 32px;

    font-family: var(--font-secondary);
    color: rgba(250, 250, 250, 0.55);

    &:nth-child(even) {
        .card__content {
            order: -1;
        }
    }

    @media (width <= $breakpoint-md) {
        display: block;

        &:nth-child(even) {
            .card__content {
                order: unset;
            }
        }
    }
}

.card__media {
    aspect-ratio: 594/490;
    img {
        display: block;

        width: 100%;
        height: 100%;
        border-radius: 16px;

        object-fit: cover;
    }
}

.card__content {
    display: flex;
    flex-direction: column;

    gap: var(--spacing-md);

    h3,
    p,
    a {
        margin: 0;
    }

    p {
        font-size: typo(24px, 32px);
    }

    .tag {
        font-size: typo(18px);
    }

    @media (width <= $breakpoint-md) {
        margin-top: 32px;
    }
}

.bold {
    color: var(--color-white);
    font-weight: 700;
}

// styles des labos 7-9

.reactif {
    background: var(--color-primary);

    .bold,
    h2,
    h3,
    p {
        color: var(--color-black);
    }
}

.swiper-wrapper {
    .swiper-slide {
        &:nth-child(even) {
            .card__content {
                order: unset;
            }
        }
    }
    max-width: $breakpoint-lg;

    @media (width <= $breakpoint-md) {
        max-width: 80vw;
    }

    @media (width <= $breakpoint-sm) {
        max-width: 90vw;
    }
}

.swiper-pagination {
    position: relative;

    --swiper-pagination-bottom: -50px;

    --swiper-pagination-bullet-horizontal-gap: 20px;
}
.swiper-pagination-bullet {
    --swiper-pagination-bullet-inactive-color: var(--color-black);
    --swiper-pagination-color: var(--color-white);

    --swiper-pagination-bullet-size: 20px;
    rotate: 45deg;
    border-radius: 0;
}
