.cards-section {
    .wrapper {
        display: flex;
        flex-direction: column;

        gap: var(--spacing-xl);
    }
}

// styles des labos 1-4
.cards {
    display: flex;
    flex-direction: column;

    gap: var(--spacing-lg);

    @media (width <= $breakpoint-md) {
        display: grid;
        grid-template-columns: 1fr 1fr;

        gap: var(--spacing-md);
    }

    @media (width <= $breakpoint-sm) {
        display: block;
    }
}

.card,
.swiper-slide {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    gap: 32px;

    font-family: var(--font-secondary);

    &:nth-child(even) {
        .card__content {
            order: -1;
        }
    }

    @media (width <= $breakpoint-md) {
        display: block;

        &:nth-child(even) {
            .card__content {
                order: unset;
            }
        }
    }
}

.card__media {
    aspect-ratio: 594/490;
    img {
        display: block;

        width: 100%;
        height: 100%;
        border-radius: 16px;

        object-fit: cover;
    }
}

.card__content {
    display: flex;
    flex-direction: column;

    gap: var(--spacing-md);

    h3,
    p,
    a {
        margin: 0;
    }

    p {
        font-size: typo(24px, 32px);
    }

    .tag {
        font-size: typo(18px);
    }

    @media (width <= $breakpoint-md) {
        margin-top: 32px;
    }
}

.bold {
    font-weight: 700;
}

// styles des labos 7-9

.reactif {
    background: var(--color-primary);
    color: var(--color-black);
}

.swiper-wrapper {
    .swiper-slide {
        .card__media {
            aspect-ratio: 594/490;
            img {
                display: block;

                width: 100%;
                height: 100%;
                border-radius: 16px;

                object-fit: cover;
            }
        }

        &:nth-child(even) {
            .card__content {
                order: unset;
            }
        }
    }

    max-width: $breakpoint-lg;

    @media (width <= $breakpoint-md) {
        max-width: $breakpoint-md;
    }
}
