.cards {
    @media (width <= $breakpoint-md) {
        display: grid;
        grid-template-columns: 1fr 1fr;

        gap: var(--spacing-md);
    }

    @media (width <= $breakpoint-sm) {
        display: block;
    }
}

.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    gap: 32px;

    font-family: var(--font-secondary);

    &:nth-child(odd) {
        .card__content {
            order: -1;
        }
    }

    @media (width <= $breakpoint-md) {
        display: block;

        &:nth-child(odd) {
            .card__content {
                order: unset;
            }
        }
    }
}

.card__media {
    aspect-ratio: 594/490;
    img {
        display: block;

        width: 100%;
        height: 100%;

        object-fit: cover;
    }
}
