.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    gap: 32px;
}

.card__media {
    aspect-ratio: 594/490;
    img {
        width: 100%;
        height: 100%;

        object-fit: cover;
    }
}
