.labo-cards {
    display: flex;
    justify-content: flex-start;

    background: var(--color-black);
    color: var(--color-white);

    padding: 80px 0;

    .wrapper {
        display: flex;
        flex-direction: column;

        gap: 100px;
    }

    .labos {
        display: flex;
        flex-direction: column;

        gap: 50px;
    }
}

h2 {
    margin: 0;

    font-weight: 100;
}

.card {
    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 32px;
}

.card__media {
    img {
        border-radius: 16px;
        display: block;
        object-fit: cover;
        max-width: 100%;
    }
}

.card__content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
        font-weight: 100;

        margin: 0 0 32px 0;
    }

    h3 {
        font-weight: 100;

        margin: 0 0 24px 0;
    }

    .bold {
        font-weight: 600;
        margin-bottom: 16px;
    }
}

.bold {
    font-weight: 600;
}
