.footer .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    gap: var(--spacing-md);

    color: rgba(250, 250, 250, 0.55);

    .footer__text {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-xs);

        h2 {
            font-size: typo(56px);
        }

        p {
            font-size: typo(18px);
            margin: 0;
        }
    }
}

.resaux {
    display: flex;

    gap: var(--spacing-lg);

    .icon {
        color: rgba(250, 250, 250, 0.55);

        width: 48px;
        height: 48px;

        &:hover {
            color: var(--color-white);
            cursor: pointer;
        }
    }
}
