.header {
    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    background: rgba(0, 0, 0, 0.6);
    color: var(--color-white);

    position: fixed;
    width: 100%;
}
