.hero__content {
    display: flex;
    align-items: flex-end;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hero {
    .wrapper {
        position: relative;
    }

    padding: 80px 0;
}
