.hero__media {
    img {
        height: 100vh;
        width: 100%;
        object-fit: cover;

        display: block;
    }
}

.hero__content {
    h1 {
        position: absolute;
        bottom: 0;
        padding-bottom: 80px;
    }
}

.hero {
    position: relative;
}
