.hero {
    position: relative;

    height: 80vh;

    .wrapper {
        display: flex;
        align-items: flex-end;

        height: 100%;

        @media (width <= $breakpoint-md) {
            max-width: $breakpoint-xs;
        }
    }

    @media (width <= $breakpoint-md) {
        height: 60vh;
    }
}

.hero__media {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
