/* ==========================================================================
   TYPOGRAPHY / ELEMENT
   ========================================================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-primary);
    line-height: 1;
    font-weight: 100;
}

h1 {
    font-size: var(--font-size-h1);
    margin: 0;
    color: var(--color-primary);
    font-weight: 700;
}

h2 {
    font-size: var(--font-size-h2);
    font-family: var(--font-secondary);

    margin: 0;
}

h3 {
    font-size: var(--font-size-h3);
}

h4 {
    font-size: var(--font-size-h4);
}

h5 {
    font-size: var(--font-size-h5);
}

h6 {
    font-size: var(--font-size-h6);
}

p,
a {
    font-weight: 100;
}
