{% include "_partials/_header.html" %}

<section class="hero">
    <div class="hero__media">
        <img src="assets/images/hero.jpg" alt="Hero" />
    </div>
    <div class="wrapper">
        <div class="hero__content">
            <h1>
                Mon cahier
                <br />
                d'exercice
            </h1>
        </div>
    </div>
</section>

<section class="labo-cards">
    <div class="wrapper">
        <h2>
            mes premiers
            <span class="bold">laboratoires</span>
        </h2>

        <div class="labos">
            <article class="card">
                <div class="card__media">
                    <img src="assets/images/lab01.png" alt="lab01" />
                </div>

                <div class="card__media">
                    <p class="bold">SEM 01 - RÉVISION</p>
                    <h3>
                        Lorem ipsum dolor sit amet, consectetur
                        <span class="bold">adipiscing elit. Ultrices lorem non feugiat egestas amet.</span>
                    </h3>
                    <p>HTML + CSS</p>
                    <a href="" class="button-principal">
                        <p>VOIR LE LABORATOIRE</p>
                        <svg class="icon">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </article>

            <article class="card card-right">
                <div class="card__media">
                    <img src="assets/images/lab02.png" alt="lab02" />
                </div>

                <div class="card__media">
                    <p class="bold">SEM 02 - TIMTOOLS</p>
                    <h3>
                        Lorem ipsum dolor sit amet, consectetur
                        <span class="bold">adipiscing elit. Ultrices lorem non feugiat egestas amet.</span>
                    </h3>
                    <p>SCSS</p>
                    <a href="" class="button-principal">
                        <p>VOIR LE LABORATOIRE</p>
                        <svg class="icon">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </article>

            <article class="card">
                <div class="card__media">
                    <img src="assets/images/lab03.png" alt="lab03" />
                </div>

                <div class="card__media">
                    <p class="bold">SEM 03 - PORTFOLIO LOUIS LAJOIE</p>
                    <h3>
                        Lorem ipsum dolor sit amet, consectetur
                        <span class="bold">adipiscing elit. Ultrices lorem non feugiat egestas amet.</span>
                    </h3>
                    <p>HTML + SCSS</p>
                    <a href="" class="button-principal">
                        <p>VOIR LE LABORATOIRE</p>
                        <svg class="icon">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </article>

            <article class="card card-right">
                <div class="card__media">
                    <img src="assets/images/lab04.png" alt="lab04" />
                </div>

                <div class="card__media">
                    <p class="bold">SEM 04 - ICÔNES ET CLASSES JS</p>
                    <h3>
                        Lorem ipsum dolor sit amet, consectetur
                        <span class="bold">adipiscing elit. Ultrices lorem non feugiat egestas amet.</span>
                    </h3>
                    <p>SCSS + JAVASCRIPT</p>
                    <a href="" class="button-principal">
                        <p>VOIR LE LABORATOIRE</p>
                        <svg class="icon">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </article>
        </div>
    </div>
</section>

<div class="swiper js-swiper js-swiper-cards">
    <div class="wrapper">
        <h2>
            mes premiers
            <span class="bold">laboratoires</span>
        </h2>

        <div class="swiper-wrapper labos">
            <article class="card swiper-slide">
                <div class="card__media">
                    <img src="assets/images/lab01.png" alt="lab01" />
                </div>

                <div class="card__media">
                    <p class="bold">SEM 01 - RÉVISION</p>
                    <h3>
                        Lorem ipsum dolor sit amet, consectetur
                        <span class="bold">adipiscing elit. Ultrices lorem non feugiat egestas amet.</span>
                    </h3>
                    <p>HTML + CSS</p>
                    <a href="" class="button-secondaire">
                        <p>VOIR LE LABORATOIRE</p>
                        <svg class="icon">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </article>

            <article class="card swiper-slide">
                <div class="card__media">
                    <img src="assets/images/lab02.png" alt="lab02" />
                </div>

                <div class="card__media">
                    <p class="bold">SEM 02 - TIMTOOLS</p>
                    <h3>
                        Lorem ipsum dolor sit amet, consectetur
                        <span class="bold">adipiscing elit. Ultrices lorem non feugiat egestas amet.</span>
                    </h3>
                    <p>SCSS</p>
                    <a href="" class="button-secondaire">
                        <p>VOIR LE LABORATOIRE</p>
                        <svg class="icon">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </article>

            <article class="card swiper-slide">
                <div class="card__media">
                    <img src="assets/images/lab03.png" alt="lab03" />
                </div>

                <div class="card__media">
                    <p class="bold">SEM 03 - PORTFOLIO LOUIS LAJOIE</p>
                    <h3>
                        Lorem ipsum dolor sit amet, consectetur
                        <span class="bold">adipiscing elit. Ultrices lorem non feugiat egestas amet.</span>
                    </h3>
                    <p>HTML + SCSS</p>
                    <a href="" class="button-secondaire">
                        <p>VOIR LE LABORATOIRE</p>
                        <svg class="icon">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </article>
        </div>
    </div>
</div>
{% include "_partials/_footer.html" %}
