{% include "_partials/_header.html" %}

<section class="hero section">
    <div class="wrapper">
        <div class="hero__media">
            <img src="assets/images/jf2.png" alt="Hero" />
        </div>
        <div class="hero__content">
            <h1>
                Mon cahier
                <br />
                d'exercice
            </h1>
        </div>
    </div>
</section>

<section class="section cards-section">
    <div class="wrapper">
        <h2>
            Mes premiers
            <span class="bold">laboratoires</span>
        </h2>

        <div class="cards">
            <div class="card">
                <div class="card__media">
                    <img src="assets/images/lab01.png" alt="lab01" />
                </div>

                <div class="card__content">
                    <h3 class="bold">SEM 01 - RÉVISION</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur
                        <span class="bold">adipiscing elit. Ultrices lorem non feugiat egestas amet.</span>
                    </p>
                    <p class="tag">HTML + CSS</p>
                    <a href="https://mroy.dectim.ca/cours/cw3/sem01/" class="button" target="_blank">
                        <p>VOIR LE LABORATOIRE</p>
                        <svg class="icon">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>

            <div class="card">
                <div class="card__media">
                    <img src="assets/images/lab02.png" alt="lab02" />
                </div>

                <div class="card__content">
                    <h3 class="bold">SEM 02 - TIMTOOLS</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur
                        <span class="bold">adipiscing elit. Ultrices lorem non feugiat egestas amet.</span>
                    </p>
                    <p class="tag">SCSS</p>
                    <a href="https://mroy.dectim.ca/cours/cw3/sem02/" class="button" target="_blank">
                        <p>VOIR LE LABORATOIRE</p>
                        <svg class="icon">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>

            <div class="card">
                <div class="card__media">
                    <img src="assets/images/lab03.png" alt="lab03" />
                </div>

                <div class="card__content">
                    <h3 class="bold">SEM 03 - PORTFOLIO LOUIS LAJOIE</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur
                        <span class="bold">adipiscing elit. Ultrices lorem non feugiat egestas amet.</span>
                    </p>
                    <p class="tag">HTML + SCSS</p>
                    <a href="https://mroy.dectim.ca/cours/cw3/sem03/" class="button" target="_blank">
                        <p>VOIR LE LABORATOIRE</p>
                        <svg class="icon">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>

            <div class="card">
                <div class="card__media">
                    <img src="assets/images/lab04.png" alt="lab04" />
                </div>

                <div class="card__content">
                    <h3 class="bold">SEM 04 - ICÔNES ET CLASSES JS</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur
                        <span class="bold">adipiscing elit. Ultrices lorem non feugiat egestas amet.</span>
                    </p>
                    <p class="tag">SCSS + JAVASCRIPT</p>
                    <a href="https://mroy.dectim.ca/cours/cw3/sem04/" class="button" target="_blank">
                        <p>VOIR LE LABORATOIRE</p>
                        <svg class="icon">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="cards-section reactif section">
    <div class="wrapper">
        <h2>
            mes
            <span class="bold">laboratoires réactifs</span>
        </h2>

        <div class="swiper js-swiper js-swiper-cards">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="card__media">
                        <img src="assets/images/lab07.png" alt="lab07" />
                    </div>

                    <div class="card__content">
                        <h3 class="bold">SEM 07 - SITE RÉACTIF</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur
                            <span class="bold">adipiscing elit. Ultrices lorem non feugiat egestas amet.</span>
                        </p>
                        <p class="tag">HTML + JAVASCRIPT</p>
                        <a href="https://mroy.dectim.ca/cours/cw3/sem07/" class="button button-secondaire" target="_blank">
                            <p>VOIR LE LABORATOIRE</p>
                            <svg class="icon">
                                <use href="#icon-chevron-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="card__media">
                        <img src="assets/images/lab08.png" alt="lab08" />
                    </div>

                    <div class="card__content">
                        <h3 class="bold">SEM 08 - CRYPTOQC</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur
                            <span class="bold">adipiscing elit. Ultrices lorem non feugiat egestas amet.</span>
                        </p>
                        <p class="tag">SCSS</p>
                        <a href="https://mroy.dectim.ca/cours/cw3/sem08/" class="button button-secondaire" target="_blank">
                            <p>VOIR LE LABORATOIRE</p>
                            <svg class="icon">
                                <use href="#icon-chevron-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="card__media">
                        <img src="assets/images/lab09.png" alt="lab09" />
                    </div>

                    <div class="card__content">
                        <h3 class="bold">SEM 09 - SITE RÉACTIF</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur
                            <span class="bold">adipiscing elit. Ultrices lorem non feugiat egestas amet.</span>
                        </p>
                        <p class="tag">SCSS + JAVASCRIPT</p>
                        <a href="https://mroy.dectim.ca/cours/cw3/sem09/" class="button button-secondaire" target="_blank">
                            <p>VOIR LE LABORATOIRE</p>
                            <svg class="icon">
                                <use href="#icon-chevron-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="swiper-pagination"></div>
</section>
{% include "_partials/_footer.html" %}
